<div class="container-fluid">
  <app-page-title ></app-page-title>
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ngb-tabset type="pills" justify="justified" class="navtab-bg nav-justified">
            <ngb-tab title="Datos Generales">
              <ng-template ngbTabContent class="nav-item">
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Lineas de negocio" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Tipo de negocio" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
                
              </ng-template>
            </ngb-tab>
            
            <ngb-tab  class="nav nav-pills navtab-bg">
                Siguiente  
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
