<div class="container-fluid">
   <div class="row page-title align-items-center">
  <div class="col-sm-4 col-xl-6">
            <a href="javascript: void(0);" routerLink="/clientes" >
            <i class="uil uil-arrow-left"></i> Atras
          </a>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
       
        <div class="card-body">
                <div class="row input-space">
                  <div class="col-lg-8 " >
                    <h4>Datos Generales</h4>
                  </div>
                   
                    <div class="col-lg-3">
                        <a href="javascript: void(0);" routerLink="nuevo-cliente" class="btn btn-primary btn-large float-right">
                          Crear cliente
                        </a>
                         <div class="col-lg-1">
                    </div>
                    </div>
                </div>
                <hr>
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Nombre
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="nombre_empresa"
                                            placeholder="Nombre de la empresa">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Razón Social
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="razon_social"
                                            placeholder="Razón Social">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    RFC
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="rfc_empresa"
                                            placeholder="RFC">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Calle y número
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="calle_numero"
                                            placeholder="Calle y número">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Colonia
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="colonia"
                                            placeholder="Colonia">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div>
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Municipio
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="municipio"
                                            placeholder="Municipio">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    CP
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="cp_empresa"
                                            placeholder="Código postal">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div>
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Teléfono
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="telefono"
                                            placeholder="Teléfono">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div>
                <div class="row input-space">
                  <div class="col-lg-4 align-items-right" >
                    Email
                  </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="correo"
                                            placeholder="Email de contacto">
                    </div>
                    <div class="col-lg-2">
                     
                    </div>
                </div> 

        </div>
      </div>
    </div>
  </div>
</div>
